.form {
  width: 432px;
  padding: 0;
  text-align: left;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.form__label {
  position: absolute;
  top: 14px;
  opacity: 0.6;
  left: 15px;
  transition: 0.2s ease-in-out;
}

.form__input {
  width: 75%;
  height: 100%;
  padding: 1rem 1rem;
  border-radius: 10px 0px 0px 10px;
  border: none;
  background-color: white;
}

.form input[type='text']:focus + label {
  top: -30px;
  opacity: 1;
  left: 10px;
}

.form input[type='text']:focus {
  outline: none;
  border: 1px solid #e1e1e3;
  background-color: white;
}

.form__error-msg {
  color: red;
  font-size: 0.8rem;
  width: 100%;
  margin: 0.5rem;
}
.form__btn {
  width: 17%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  font-weight: 100;
  margin: 0;
  padding: 14px;
  display: flex;
  justify-content: center;
  background-color: #e1e1e3;
}

.from__btn--disabled  
.btn__icon--large {
  opacity: 0.2;
}
.btn__icon--large {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .form {
    width: 95%;
  }
}