.todo-list__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #e1e1e3;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.todo-list__item--done {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo-list__name {
  display: inline-block;
  margin: 0;
  width: 80%;
  overflow-wrap: break-word;
}

.btn__icon--hidden {
  visibility: hidden;
}

.todo-list__alt-text {
  font-weight: 200;
}
