.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0rem;
  background-color: #f4f4f4;
}

.main__title {
  font-size: 2rem;
  font-weight: 200;
}

.main__search {
  width: calc(50% + 2rem);
  display: flex;
  justify-content: space-between;
  margin: 1rem 0rem;
}

.main__btn-group {
  width: calc(50% + 2rem);
}
.main__btn {
  width: 25%;
  height: fit-content;
  border-radius: 10px;
  padding: .5rem;
}

.main__btn--danger {
  background-color: #c08888;
  color: white;
}
.search__btn {
  width: 30%;
  height: fit-content;
  font-weight: 100;
  
  border-radius: 8px;
  opacity: 0.6;
  text-transform: uppercase;
}

.search__btn--active {
  border: 1px solid #e3e3e3;
  opacity: 1;
}

.todo-list {
  list-style: none;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0
}

@media (max-width: 768px) {
  .todo-list {
    width: 85%;
  } 
  .main__search {
    width: 90%;

  }
}
