.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
}

.main__title {
  font-size: 2rem;
  font-weight: 200;
}

.main__search {
  width: 432px;
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0rem;
}

.search__btn {
  width: 30%;
  height: fit-content;
  font-weight: 100;
  
  border-radius: 8px;
  opacity: 0.6;
  text-transform: uppercase;
}

.search__btn--active {
  border: 1px solid #e3e3e3;
  opacity: 1;
}

.todo-list {
  list-style: none;
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

@media (max-width: 768px) {
  .todo-list {
    width: 85%;
  }
}
